@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/Outfit-VariableFont_wght.ttf'); 
  }
@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter.ttf'); 
  }


  ::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #535963; 
    border-radius: 100vh;
    border: 5px solid #f6f7ed;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #000; 
  }
  
:root {
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

/* html,body{
    font-family: Inter,Outfit,'Segoe UI', sans-serif;
  } */